/* Styles ----------------------------------------------------------*/

#tt-portfolio {
    p {
        label {
            font-weight: bold;
            display: block;
        }

        input,
        textarea {
            width: 100%;
        }
    }
}